@using Proje01.Models.Siniflar
@model List<Blog>
@foreach (var x in Model)
{
<div class="right">
    <div class="bot-left">
        <img src="~/icerik/film_res/@x.KucukResim" alt="" />
    </div>
    <div class="left-text">
        <h4>@x.Baslik</h4>
        <span class="doller">@x.FilmDetay</span>
        <p>@x.Aciklama.Substring(0,80)</p>
        <p><a href="/Oneri/BlogDetay/@x.ID"><span class="read">Devamını Oku</span></a></p>
    </div>
</div>
}



